<div data-modal class="popup popup__call">
   <div class="popup__dialog">
    <div class="popup__content popup__call-content">
        <button class="popup__close">&times;</button> 
        <form id="call-form" class="popup__form popup__call-form" action="">
        <div class="popup__title">Заказать звонок</div>
        <div class="popup__descr">Оставьте свои контактные данные, и мы  <br>свяжемся с Вами в ближайшее время.</div>

           
               <div class="popup__input"><input required type="text" name="fio" placeholder="Имя, Фамилия"></div>
                <div class="popup__input"><input required type="text" name="phone" placeholder="+7 (___) ___-__-__"></div>
                <input type="submit" class="btn btn_brown" value="ЗАКАЗАТЬ">
          
            <div class="popup__policy">Нажимая кнопку, Вы соглашаетесь
               <br> <a href="#">с политикой конфиденциальности.</a></div> 
            </form>
    </div>
   </div>
</div>


<div data-modal class="popup popup__carts">
   <div class="popup__dialog">
    <div class="popup__content popup__call-content">
       
         <div class="popup__header popup__carts-header">
            <div class="popup__title popup__carts-title">Заказать звонок</div>
            <div class="popup__cards">
              
            </div>
         </div>
      
        <div class="popup__descr">Оставьте свои контактные данные, и мы  <br>свяжемся с Вами в ближайшее время.</div>

           
               <div class="popup__input"><input required type="text" name="fio" placeholder="Имя, Фамилия"></div>
                <div class="popup__input"><input required type="text" name="phone" placeholder="+7 (___) ___-__-__"></div>
                <input type="submit" class="btn btn_brown" value="ЗАКАЗАТЬ">
          
            <div class="popup__policy">Нажимая кнопку, Вы соглашаетесь
               <br> <a href="#">с политикой конфиденциальности.</a></div> 
          
    </div>
   </div>
</div>